/* CSS files add styling rules to your content */

body {
	font-family: arial, sans-serif;
	background: #fffefe;
	letter-spacing: 1px;
}

h1, h3 {
	display: inline-block;
	color: #a26742;
}


header {
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding-right: 50px;
}


.logo {
	font-size: 60px;
	margin-left: 30px;
	margin-right: 20px;
}

nav {
	display: inline;
	right: 250px;
	padding-top: 40px;
	float: right;
}

/* this applies to the anchors that are children of the nav element */
nav > a {
	display: inline-block;
	margin-right: 25px;
	color: #b48456;
	text-decoration: none;
	font-weight: bold;
}
/* :hover only applies when a user hovers over a link */
nav > a:hover {
	color: #b99d2e;
}

main {
	text-align: center;
}

section{
	width: 90%;
	margin: auto;
	padding: 10px;
}

#hero-img {
  margin-right: 25%;
  height: 450px;
}

#hero-text {
  
  width: 25%;
  height: 450px;
  float: right;
}

#hero h1{
	color: #68d5c8;
	float: left;
	font-size: 5em;
	margin-top:150px;
}

footer {
	background: #977950;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}